<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="update-head-wrap">
                <h3>Block transaction</h3>
            </div> 
            <div class="transfer-coin-row" ng-repeat="blockDtl in blockDetails" ng-click="gotoTransactionId(blockDtl.bid)">
                <div class="number-wrap" >
                    <h3>{{ $index + 1 }}</h3>
                </div>
                <div class="block-stats-wrap">
                    <h3 class="mined-by">
                        <span class="blk-img-wrap">
                            <img src="/assets/img/grey/UserProfile.png" /> 
                        </span>
                        {{ blockDtl.userName }} </h3>
                    <p class="blk-id-reward">
                        <span class=""> PID: {{ blockDtl.pid }} </span>
                        <span class=""> Transactions: {{ blockDtl.numberOfDeals }} </span>
                    </p>    
                </div> 
            </div>
        </div>
    </div>
</div>