<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <div class="dash-window">

                <h4><i class="fa fa-user-circle" aria-hidden="true"></i> Select User</h4>
                <form method="post">
                    <div class="form-group">
                        <label for="username">User:</label>
                        <input type="text" class="form-control" name="username" id="fields" autocomplete="on"/>
                    </div> 
                    <div class="form-group">
                        <label for="coin">Coins:</label>
                        <input type="text" class="form-control" name="coin" autocomplete="off"/>
                    </div>
                     <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Send</button>
                </form>
            </div>

        </div>
    </div>
</div>